*{
    box-sizing: border-box; /*No sumará al witdh o heigth el border y padding que se agregue*/
    margin: 0; 
    padding: 0;
    font-family: var(--principal-font);
}

:root {
    --principal-font: 'Poppins', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

   
    --nav-background-color: #be3144;
    --main-background-color: #000;
    --projects-background-color: #45567d;
    --card-background-color: #303841;
    --footer-background-color: #303841;
}

html{
    font-size: 62.5%; /* 1rem = 10px */  
    scroll-behavior: smooth;
}
body{
    background-color: var(--nav-background-color);
    /* min-width: 320px; */
    /* color: white; */
}


/* ---------- NAVBAR  ------------*/
#navbar{
    width: 100vw;
    background-color: var(--nav-background-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    
}

#navbar ul{
    display: flex;
    list-style: none;
    justify-content: end;
}   
#navbar li{
    margin: 20px 25px;
}

#navbar a{
    font-size: 2.3rem;
    text-decoration: none;
    color: white;
}


/* ---------- WELCOME  ------------*/
.main{
    /* height: calc(100vh - 68px); */
    height: 100vh;
    background-color: var(--main-background-color);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

.main h1{
    text-align: center;
    font-size: 5.6rem;
    position: relative;
    /* top: 40%; */
    margin-bottom: 10px;
    color: white;
}

.main p{
    text-align: center;
    font-size: 2.8rem;
    font-style: italic;
    color: var(--nav-background-color);
    /* margin-top: -100px; */
}


/* ---------- PROJECTS  ------------*/
#projects{
    background-color: var(--projects-background-color);
    text-align: center;
}

#projects h3{
    display: inline-block;
    font-size: 4.1rem;
    color: white;
    padding-top: 93px;
    margin-bottom: 56px;
    border-bottom: solid white 3px;
}

#projects .container-projects{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* margin: 0 20px; */

}
.container-projets .project-tile{
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 20px;
    background-color: var(--card-background-color);

}
.project-tile a{
    text-decoration: none;
}
.project-tile a img{
    width: 29vw;
    height: 390px;
    object-fit: cover;
    
}
.project-tile p{
    color: white;
    font-size: 2.2rem;
    padding: 18px 0;
   
    background-color: var(--card-background-color);
    
}

.container-button button{
    margin-top: 50px;
    margin-bottom: 120px;
    padding: 13px 28px;
    font-size: 2rem;
    background-color: var(--card-background-color);
    border: none;
    color: white;
}
.button-icon{
    width: 15px;
    margin-left: 5px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    position: relative;
    top: 3px;
    font-weight: bold;
}

.container-button button:hover{
    background-color: var(--nav-background-color);
    cursor: pointer;
}

/* ---------- NETWORK  ------------*/
.network{
    width: 100vw;
    height: 80vh;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--footer-background-color);
    color: white;
}

.network h4{
    font-size: 6rem;
    padding-top: 50px;
    margin-bottom: 5px;
    font-family: var(--secondary-font);
}

.network p{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 50px;
}

.network ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center
}   
.network li{
    margin: 20px 25px;
}

.network a{
    font-size: 2.3rem;
    text-decoration: none;
    color: white;
}
.network img{
    width: 25px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* ---------- FOOTER  ------------*/
.footer{
    border-top: solid var(--nav-background-color) 4px;
    background-color: var(--footer-background-color);
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer p{
    font-size: 2rem;
    padding: 20px 0;
}


@media (min-width: 600px){
    
}

